@use './variables.scss' as *;

.content-container {
  max-width: 600px;
  width: 100%;
}
.content-container p {
  color: $brown;
  max-width: 600px;
  width: auto;
  margin: 20px;
  padding: 15px;
  border-radius: $bdrs-5;
  background-color: $white;
  text-align: center;
}
